<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Info</title>
</head>
<body>
<p>Name: <%= @first_name %> <%= @last_name %></p>
<p>Compliance Status:  <%= @compliance_status %></p>
<p>Address:  <%= @address %></p>
<p>Student ID:  <%= @student_id %></p>
<p><%= @response %></p>
</body>
</html>